* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-container img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Lightbox CSS */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.lightbox img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: -4px;
    border-radius: 5px;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.lightbox .close:hover, .lightbox .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#scrollToTopBtn:hover {
    background-color: #555;
}
/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4; /* Light color for text */
}

header.dark-mode, footer.dark-mode {
    background-color: #222;
    color: #f4f4f4; /* Light color for text */
}

a.dark-mode {
    color: #4CAF50; /* Adjust color for links in dark mode */
}

section.dark-mode {
    background-color: #444; /* Slightly lighter background for sections */
    color: #f4f4f4; /* Light color for text */
}

button.dark-mode {
    background-color: #444; /* Darker button background */
    color: #f4f4f4; /* Light color for text */
}

#scroll-to-top.dark-mode {
    background-color: #555; /* Darker background for the scroll-to-top button */
    color: #f4f4f4; /* Light color for text */
}
